canvas {
    background-color: grey;
    display: block;
    margin: 1em auto;
}
#outcome {
    color: red;
    text-align: center;
    font-size: 4em;
}
body {
    background-color: rgb(112, 108, 108);
}